*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5fc;
}

.container_Pai{
    height: 100vh;
    margin: 40px;

}


.icone_principal{
    width: 120px;
    height: 48px;

}

.container_Principal{
    display: flex;
    gap:80px;
    justify-content: center;
}